<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vending Machine</title>
</head>
<body>
    <div id="oneCandy">In Stock</div>
    <button id="btnoneCandy" onclick="firstCandy()">Skittles</button>

    <div id="twoCandy">In Stock</div>
    <button id="btntwoCandy" onclick="secondCandy()">M&Ms</button>

    <div id="oneChips">In Stock</div>
    <button id="btnChips" onclick="firstChips()">Doritos</button>

    <script src="app.js"></script>
</body>
</html>